@charset "UTF-8";

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'Montserrat-Italic';
    src: url(../assets/fonts/Montserrat/Montserrat-Italic.ttf) format(truetype);
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf) format(truetype);
}
:root{
    --font-family-base:'Montserrat-Regular';
    --font-family-light:'Montserrat-Light';
    --font-family-italic:'Montserrat-Italic';
    --base-color: rgb(43, 34, 59);
    --primary-color: rgb(62, 51, 82);
    --secondary-color:rgb(71, 59, 88);
    --tertiary-color:rgb(123, 111, 143);
    --rgba-background:rgba(74, 55, 105, 0.2);
    --color-black:rgb(1, 10, 22);
    --color-gray:#5e5b5b;
    --color-gray-primary:#747171;
    --background-button-hover:#b9b6b6;
    --color-gray-tertiary:#918f8f;
    --background-button:#eaeaeaee ;
    --background-main: rgb(240, 238, 238) ;
    --background-button-number:#aaaaaa ;
    --color-white:#fff;
    --rgba-color-white:rgba(234, 227, 227, 0.3);
    --box-shadow:0px 1px 10px 0px #00000038;
    --border-radius-base:9px;
    --border-radius-primary:5px;
}

*{
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 5;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
    font-family:var(--font-family-base) ;
}

a, a.active a:hover{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
ul li{
    list-style-type: none;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
}
main{
    height: calc(100vh - 70px);
    z-index: -1;
    background-color:var(--background-main); 
    overflow-y: scroll;
}

  .user__main__title{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.user__main__title h1{
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 5px;
}
.user__main__title hr{
   height: 4px;
   background-color: var(--primary-color);
}

.auth {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

  backdrop-filter: blur(6px);

background: linear-gradient(
    120deg,
    #433a58 0%,
    #514a6b70 40%,
    #6a708950 75%,
    #8b91a880 100%
  );

}

/* .auth__form{
    width: 100%;
    height: calc(100% - 49px);
    display: flex;
    justify-content: center;
} */
.auth__field {
    width: 80%;
    /* padding:100px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
 
}

.auth__field h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-white);
    font-family: var(--font-family-italic);
    text-transform: uppercase;
}

.error__part {
    display: flex;
    justify-content: center;
    align-items: center;
}


.auth__field__list__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 30px 50px;
    border-radius: 25px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15),
            -3px -3px 5px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
    form {
        width: 90%;
    }
}
/* @media (max-width: 600px) {
    form {
        width: 100%;
        padding: 30px 25px;
    }
} */


.auth__field__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.auth__field__list::-webkit-scrollbar {
    width: 5px;
}
.auth__field__list::-webkit-scrollbar-thumb {
    border-radius:15px ;
    background-color: white;
}
.auth__field__list

.auth__field__list__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.auth__field__list__item__two {
    display: flex;
    gap: 50px;
    align-items: center;
}
.auth__field__list__item label {
    font-weight: bold;
    color: var(--color-white);
    font-size: 13px;
}

.auth__field__list__item__input {
    display: flex;
}
.auth__field__list__item__input input {
    padding-left: 10px;
    width: 100%;
    outline: 0;
    border: none;
    color: var(--color-white);
    background-color: var(--color-white);
    background-color: transparent;
    border-bottom: 1px solid var(--tertiary-color);
}


.auth__field__list__item__input input::placeholder {
    color: rgba(144, 128, 172, 0.5);
    font-style: italic;
    font-weight: bold;
}

@media (max-width: 576px) {
    .auth__field__list__item__input input::placeholder  {
        display: none;
    }
}
input[type=file]::file-selector-button {
    background-color: var(--tertiary-color);
    color: white;
    border: 0px;
    height: 27px;
    padding: 6px;
    transition: .5s;
    margin-left: -10px;
}

.auth__field__list__item__input span {
    font-size: 18px;
    padding:3px 8px;
    color: var(--color-white);
    background-color: var(--tertiary-color);
    border-top-left-radius: var(--border-radius-primary);
    border-bottom-left-radius: var(--border-radius-primary);
}


.btn__submit {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.btn__submit button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 35px;
    color: var(--color-white);
    background-color: var(--tertiary-color);
    font-family: var(--font-family-base);
    letter-spacing: 1px;
    border-radius: 10px;
    outline: none;
    border: none;
}

@media(max-width: 992px){ 
    .auth__field__list__item__two{
        flex-direction: column;
    }
    
}

